<div class="c-pagination">
    <button class="c-pagination__action" (click)="onPrevious()">
        <fa-icon class="c-pagination__action--icon" icon="angle-left"></fa-icon>
    </button>

    <div class="c-pagination__content">
        <ng-container  *ngFor="let page of onGeneratePages()">
            <button class="c-pagination__content--page"
                [class.active]="currentPage === page"
                [class.inactive]="currentPage !== page" (click)="onPageChange(page)">
                {{ page }}
            </button>
        </ng-container>
    </div>
   
    <button class="c-pagination__action" (click)="onNext()">
        <fa-icon class="c-pagination__action--icon" icon="angle-right"></fa-icon>
    </button>
</div>